
<h1>@ViewData["Title"]</h1>

<div class="container">

    <div id="gridContainer2">

    </div>    
    @section Scripts
    {
        <script src="~/js/sitedetails.js" asp-append-version="true"></script>
    }
</div>