    <h4>Empresa: @ViewData["Title"]</h4>

<div class="subcontainer">    
    <div class="algo">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=@ViewData["qrcode"]" alt="" class="img">
        <div id="gridContainer2">
        </div>        
    </div>

    @section Scripts
    {
        <script src="~/js/sitedetails.js" asp-append-version="true"></script>
    }
</div>